{%- comment -%}
    PowerReviews App Installation - Product Page Review Snippet Code
    https://help.powerreviews.com/Content/Shopify/Shopify%20Manual%20Installation.htm?Highlight=shopify#Product
{%- endcomment -%}

<!-- start_production_section_review_snippet_seciton -->
<div id="pwr-snippets">
    <div id="pr-reviewsnippet" style=""></div>
    <div id="pr-questionsnippet"></div>
</div>
<!-- end_product_section_review_snippet_section -->