{% capture seo_title %}
  {{ page_title }}{% if template contains 'collection' and current_tags %} | {{ current_tags | join: ', ' }}{% endif %}
{% endcapture %}

<title>{{ seo_title | strip | strip_newlines }}{{ settings.seo_title_tag_suffix }}</title>